
.tab-item{
    list-style-type: none;
    border: 1px solid #94a3b8;
    width: 33%;
    text-align: center;
    height: 40px;
}
.tab-button{
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
}
.active-tab-btn{
  border-top: 2px solid #63dbd3;
}