



.main-home-container{
  background-image: linear-gradient(to right, #ffffff);
  display: flex;
  flex-direction: column;
}
.pay-monthly-container{
  border: 1px solid #63dbd3;
  padding: 8px;
  border-radius: 30px;
  
  display: none;
}
.pay-monthly-btn{
  background-color: #000000;
    padding: 8px;
    border-radius: 22px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    border: none;
    margin-right: 8px;
}
.pay-monthly-text{
  color: #000000;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px){
 .main-home-container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
 }
 .pay-monthly-container{
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
 }
}